body {
    padding: 3.5rem;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

.title {
    font-size: 18px;
}

.right-label {
    cursor: pointer;
}

.button-myob {
    background-color: #f5f5f5;
    border: solid 1px #d0d0d0;
    color: #d0d0d0;
    box-shadow: none;
    background-image: none;
    margin-right: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    font-size: 1.4rem;
    height: 3.6rem;
}

.button-myob.active {
    border-color: #5bd982;
    color: #43AF64;
    box-shadow: none;
    border: solid 1px #5bd982;
}

.right-label {
    border-color: #43AF64;
    color: #43AF64;
    font-size: 14px;
    font-weight: 400;
}

.control-label {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

.minmax {
    font-weight: 400;
    font-size: 1.2rem;
}

.no-gutter > [class*='col-'] {
    padding-left: 0;
}
.delivery-time__btns{
    margin-top:-2rem;
}
.button-apply {
    height: 50px;
    height: 5rem;
    border-radius: 130px;
    border-radius: 13rem;
    border-width: 0;
    background: #4daf70;
    background-image: linear-gradient(to bottom, #5bd982 0%, #48ab70 100%);
    box-shadow: 0 2px 1px 0 #2b8e50;
    border-top-color: transparent;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    margin-top: 0rem;
}

.button-apply.btn:hover,
.button-apply.btn:focus {
    background-image: linear-gradient(to bottom, #48ab70 0%, #48ab70 100%);
    color: #ffffff !important;
}

.btn.focus,
.btn:hover {
    color: #333;
    text-decoration: none;
    transition: ;
}


/*------------------------------*/


/*bootstrap-select over-rides*/


/*------------------------------*/

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select {
    border-color: transparent;
}


/*bootstrap input iwith icon*/

.left-inner-addon {
    position: relative;
    /*border: 1px solid grey;*/
}

.left-inner-addon i {
    position: absolute;
    padding: 7px 12px;
    background: transparent;
    pointer-events: none;
    left: 0;
    /*top: 50px;*/
    color: #d5d4d4;
}

.left-inner-addon input {
    padding-left: 30px;
}

.bootstrap-select,
.bootstrap-select .btn,
.bootstrap-select .btn .filter-option,
.bootstrap-select .btn-default.active,
.bootstrap-select .btn-default:active,
.bootstrap-select.open>.dropdown-toggle.btn-default:hover,
.bootstrap-select.open>.dropdown-toggle.btn-default {
    background-color: #fff;
    background-image: none;
    color: #333333;
    /*border-color: #8c8c8c;*/
}

.bootstrap-select .btn span,
.bootstrap-select .btn .filter-option i {
    color: #b1b1b1;
    ;
}


/*------------------------------*/


/*svg delivery arcs*/


/*------------------------------*/

#delivery-arc {
    position: relative;
    width: 81px;
    height: 81px;
    margin-right: 3.4rem;
    /*margin-top: 2rem;*/
}

#c1,
#c2,
#c3 {
    transition: transform 0.5s ease-in-out;
}

#delivery-arc.c30 #c2,
#delivery-arc.c30 #c3,
#delivery-arc.c30 #c4 {
    transform: rotateZ(90deg);
}

#delivery-arc.c45 #c3,
#delivery-arc.c45 #c4 {
    transform: rotateZ(180deg);
}

#delivery-arc.c60 #c4 {
    transform: rotateZ(270deg);
}

#c0,
#c1,
#c2,
#c3,
#c4 {
    position: absolute;
    left: 0px;
    top: 0px;
    transition: transform 0.45s ease-in-out 0.05s;
}


/*    .center {
        text-align: center;
        vertical-align: middle;
        display: table-cell
    }*/


/*------------------------------*/


/*end svg delivery arcs*/


/*------------------------------*/

.txtMin {
    position: relative;
    top: -50%;
    /*left: 50%;*/
    transform: translateY(-80%);
    /*transform: translateX(-50%);*/
    text-align: center;
    color: #43af64;
    font-size: 2.3rem;
}

.txtMins {
    color: #43af64;
    position: relative;
    top: -100%;
    transform: translateY(40%);
    text-align: center;
    font-size: 1.20rem;
}


/*------------------------------*/


/*ui-slider*/


/*------------------------------*/

#range {
    height: 6px;
    margin: 0 auto 30px;
}

.noUi-handle {
    border: none;
}

.noUi-horizontal .noUi-handle {
    width: 2rem;
    height: 2rem;
    border-radius: 17px;
    cursor: default;
    top: -0.7rem;
    background: linear-gradient(to bottom, #5fda80 0%, #4daf70 100%);
}

.noUi-horizontal .noUi-handle:after,
.noUi-horizontal .noUi-handle:before {
    content: none;
}

.noUi-connect {
    background: #3FB8AF;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, .45);
    background-color: #d9d9d9;
    box-shadow: none;
    background-color: #d9d9d9;
}

.noUi-target {
    border-radius: 4px;
    border: none;
    box-shadow: none;
}

.noUi-background {
    background: #e9e9e9;
    box-shadow: none;
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
/*    .control-label {
        font-size: 1.8rem;
    }*/

.control-label {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
}
    .minmax {
        font-size: 1.4rem;
    }
    .form-control,
    .filter-option,
    .right-label {
        font-size: 1.6rem;
    }
    .title {
        font-size: 2.4rem;
    }
    #delivery-arc {
        width: 8rem;
        height: 8rem;
        margin-bottom: 2rem;
    }
}
